[user]
	email = gary.tierney@gmx.com
	name = Gary Tierney
[core]
	excludesfile = ~/.gitfiles/gitignore
	editor = vim
	whitespace = space-before-tab,trailing-space
[pull]
	rebase = true
[push]
	default = current
[sendemail]
	smtpserver = /usr/bin/esmtp
[apply]
	whitespace = fix
[diff]
	tool = vimdiff
[difftool]
	prompt = false
[merge]
	tool = vimdiff
[color]
	ui = auto
[alias]
	s = status -s
	l = log --pretty=oneline --graph
[url "git@github.com:"]
	insteadOf = "github:"
	pushInsteadOf = "git://github.com/"
